button.delete-button {
    background-color: lightgray;
    /* border: 2px solid grey; */
    border-radius: 5px;
}

img.meeting-img {
    width: 30%;
    border-radius: 5%;
    max-width: 300px;
    min-width: 50px;
    max-height: 80px;
}

.heading {
    font-size: 40px;
    font-family: Acme;
    color: #3E2723;
    margin: 0px 0px 0px 35px;
}

.meeting-text {
    font-size: 1.5em;
    font-family: Signika;
    color: black;
}

.accent {
    color: #FF5722;
}

.full-width {
    width: 95%;
}

.word-wrap {
    overflow-wrap: break-word;
}

.page-container {
    margin-top: 30px;
}

.action-bar {
    margin-top: 50px;
}

.sort-bar {
    margin: 0px 35px 0px 35px;
}

.search-bar {
    margin: 0px 35px 0px 35px;
}

.logo {
    margin: 0px 10px 0px 10px;
}

/*MD card container*/

.card-container {
    border: 2px solid #ccc;
    max-width: 100%;
    margin: auto;
    box-shadow: 0 5px 5px 0;
}

.card-container:hover {
    border: 2px solid #777;
}

.card-container img {
    border-radius: 5%;
}

.card-container .title {
    font-size: 2em;
}

.card-container .login-button {
    font-size: 2em;
    padding: 0.5em 3em 0.5em 3em;
}

.card-error {
    max-width: 279px;
    overflow-wrap: break-word;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media only screen and (max-width: 800px) {
    .card-container {
        min-width: 60%;
    }
    .action-bar {
        margin-top: 10px;
    }
    .sort-bar {
        margin: 0px 0px 0px 15px;
    }
    .search-bar {
        margin: 0px 0px 0px 15px;
    }
    .heading {
        margin: 0px 0px 0px 15px;
    }
}

@media only screen and (max-width: 500px) {
    .card-container {
        min-width: 90%;
    }
    .action-bar {
        margin-top: 10px;
    }
    .sort-bar {
        margin: 0px 0px 0px 5px;
    }
    .search-bar {
        margin: 0px 0px 0px 5px;
    }
    .heading {
        margin: 0px 0px 0px 5px;
    }
}
