<div class="page-container">
  <div fxLayout="row" fxLayout.xs="column">
    <span class="heading" fxFlex="65%"><md-icon>people</md-icon>LiFE (Little France Electrophysiology) Group meeting</span>
    <img fxFlex.gt-md="16%" fxFlex.sm="30%" fxHide.xs class="meeting-img logo" src="assets/images/cnr.jpg">
    <img fxFlex.gt-md="12%" fxHide.sm fxHide.xs class="meeting-img logo" src="assets/images/EdinburghNeuroscience.gif">
  </div>

  <div class="action-bar" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div class="sort-bar">
      <label>Sort by Date: {{this.sortingOrder}} </label>
      <button md-raised-button md-icon-button (click)="sort()">
          <md-icon class="md-18|md-24|md-36|md-48">sort</md-icon>
      </button>
    </div>
    <div *ngIf="auth.isAuthenticated" class="sort-bar">
      <label>Add new meeting: </label>
      <button md-raised-button md-icon-button (click)="displayAddMeeting()">
          <md-icon class="md-18|md-24|md-36|md-48">add</md-icon>
      </button>
    </div>
    <div class="search-bar">
      <input type="text" size="30" max-length="100" #keyword placeholder="Search in talk" (keyup.enter)="searchMeeting(keyword.value)">
      <button md-raised-button md-icon-button (click)="searchMeeting(keyword.value)">
          <md-icon class="md-18|md-24|md-36|md-48">search</md-icon>
      </button>
      <button md-raised-button md-icon-button (click)="keyword.value= ''; searchMeeting(keyword.value)" (keyup)="0">
          <md-icon class="md-18|md-24|md-36|md-48">clear</md-icon>
      </button>
    </div>

  </div>



  <div fxLayout="column">
    <div class="card-container full-width" *ngIf="auth.isAuthenticated&&addingMeeting">
      <!--each meeting goes here -->
      <md-card>
        <md-input-container>
          <input mdInput maxlength="10" placeholder="Meeting Time" [(ngModel)]=newMeeting.time>
        </md-input-container>
        <md-input-container class="full-width word-wrap">
          <textarea mdTextareaAutosize mdAutosizeMinRows="2" mdInput #MeetingDescription maxlength="2000" placeholder="Talk Description"
            [(ngModel)]=newMeeting.description></textarea>
          <md-hint align="end">{{MeetingDescription.value.length}} / 2000</md-hint>
        </md-input-container>
        <md-input-container class="full-width word-wrap">
          <textarea mdTextareaAutosize mdAutosizeMinRows="1" mdInput #SpeakerName maxlength="256" placeholder="Speaker Name" [(ngModel)]=newMeeting.speaker></textarea>
          <md-hint align="end">{{SpeakerName.value.length}} / 256</md-hint>
        </md-input-container>
        <md-card-actions>
          <button (click)="addMeeting(newMeeting)" md-raised-button color="accent" class="action-button">Add</button>
          <button (click)="cancel()" md-raised-button color="accent" class="action-button">Cancel</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="card-container full-width" *ngFor="let meeting of meetings | SearchMeeting: searchText | orderBy: {property: sortingProperty, direction: direction}">
      <!--each meeting goes here -->
      <md-card class="meeting-text">
        <md-card-header>
          <md-card-title>
               {{meeting.time}}
          </md-card-title>
          <md-card-title>
            <label>Talk: </label>{{meeting.description}}
          </md-card-title>
          <md-card-title>
            <label>Speaker: </label>{{meeting.speaker}}
          </md-card-title>
          <span class="spacer"></span>
          <div *ngIf="this.shouldDisplayPic(meeting.speakerPictureURL)" >
            <img src={{meeting.speakerPictureURL}}>
          </div>
          <div *ngIf="this.shouldDisplayStatus(meeting.status)">
            <md-card-title [style.color]="'#FF5252'">
              {{meeting.status}}
            </md-card-title>
            </div>
          <div *ngIf="displayComingSoon">
            <md-card-title [style.color]="'#FF5252'">
              <button md-mini-fab md-icon-button color="accent">
                <md-icon class="md-18|md-24|md-36|md-48">info</md-icon>
              </button>
              <span>Coming Soon!</span>
              </md-card-title>
          </div>
        </md-card-header>
        <md-card-actions *ngIf="auth.isAuthenticated">
          <button (click)="updateMeeting(meeting)" md-raised-button color="accent" class="action-button">Update</button>
          <button (click)="removeMeeting(meeting)"md-raised-button color="accent" class="action-button">Delete</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
