button.delete-button {
  background-color: lightgray;
  /* border: 2px solid grey; */
  border-radius: 5px;
}

img.meeting-img  {
   width: 30%;
   border-radius: 5%;
   max-width: 300px;
   min-width:50px;
   max-height: 80px;
}

.heading {
  font-size: 40px;
  font-family: Lobster;
  color: #3E2723;
}

.full-width {
  width: 90%;
}

.word-wrap {
  overflow-wrap: break-word;
}



/*MD card container*/
.card-container {
    border: 2px solid #ccc;
    max-width: 100%;
    margin:auto;
    box-shadow: 0 5px 5px 0;

}

.card-container:hover {
    border: 2px solid #777;
}

.card-container img {
    border-radius: 5%;
}

.card-container .title {
  font-size: 2em;
}

.card-container .login-button {
  font-size: 2em;
  padding: 0.5em 3em 0.5em 3em;

}

.card-error {
  max-width: 279px;
  overflow-wrap: break-word;
}



@media only screen and (max-width: 700px){
    .card-container {
        min-width: 60%;
    }
}

@media only screen and (max-width: 500px){
    .card-container {
        min-width: 90%;
    }
}





