button.delete-button {
  background-color: lightgray;
  /* border: 2px solid grey; */
  border-radius: 5px;
}

img.gift-img  {
   width: 60%;
   border-radius: 5%;
   max-width: 414px;
   min-width:100px;
}


.full-width {
  width: 90%;
}

.word-wrap {
  overflow-wrap: break-word;
}

