.gift .selected {
    background-color: #CFD8DC !important;
    color: white;
}

.gifts {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.gifts li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em .3em;
    height: 2.5em;
    border-radius: 4px;
}

.gifts li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.gifts li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.gifts .text {
    position: relative;
    top: -3px;
}

.gifts .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.5em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.delete {
    width: 10%;
    padding: 0 0 0 0;
    float: right;
    margin-top: 2px;
    margin-right: .1em;
    background-color: gray;
    color: white;
}

#content-page {
    padding:0;
    width:70%;
    margin-left:-35%;
}

header {
    background:#3B8598;
    width:100%;
}

.basic-btn {
    width:100px;
    margin:0;
}

#page {
    padding:3em;
    margin:0;
}

#page img {
    margin-top:30px;
}

h2 {
    margin:0;
}



@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #content-page {
        width:90%;
        margin-left: -45%;
    }

}
