button.delete-button {
  background-color: lightgray;
  /* border: 2px solid grey; */
  border-radius: 5px;
}

img.gift-img  {
   width: 60%;
    border-radius: 5%;
}


.full-width {
  width: 100%;
}
