<div >
  <h2>Gifts</h2>
  {{diagnostic}}
  <ul class="gifts">
    <li *ngFor="let gift of giftsFirebaseList | async">
      <!-- each gift goes here -->
      <span class="badge">{{gift.gift}}</span>
      <span>{{gift.description}}</span>
      <span>{{gift.desiredRating}}</span>
      <span>{{gift.recieveTime}}</span>
      <span>{{gift.recieved}}</span>
      <span>{{gift.addedTime}}</span>
      <span>{{gift.whereToBuy}}</span>
      <button class="delete" (click)="delete(); $event.stopProgagation()">x</button>
    </li>
  </ul>
  <div *ngIf="selectedGift">
    <h2>
      <!--{{selectedGift.description | uppercase}} is the gift-->
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
  <div>
    <label>Gift Name:</label><input #giftName/>
    <button class="basic-btn" (click)="add(giftName.value); giftName.value=''">Add</button>
  </div>
</div>
