<md-toolbar color="primary">

  <button class="user-profile-icon nav-tab" md-mini-fab md-icon-button color="accent"  (click)="home()">
    <md-icon>home</md-icon>
  </button>

  <span class="spacer"></span>
  <button class="user-profile-icon" md-mini-fab md-icon-button color="accent" [mdMenuTriggerFor]="sideMenu">
    <md-icon>person</md-icon>
  </button>
  <span>{{this.user.name}}</span>

   <md-menu #sideMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item class="menu-item" (click)="logout()">
      <md-icon>fingerprint</md-icon>
      <span class="side-menu-item">{{this.loginState}}</span>
    </button>
    <button md-menu-item class="menu-item">
      <md-icon>help</md-icon>
      <span class="side-menu-item">Help</span>
    </button>
  </md-menu>

</md-toolbar>

<router-outlet></router-outlet>
