.search-result{
  border-bottom: 3px solid lightblue;
  border-left: 3px solid lightblue;
  border-right: 3px solid lightblue;
  width:195px;
  height: 25px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}
#search-box{
  width: 200px;
  height: 30px;
  margin: 5px 5px 5px 0px;
  border: 3px solid lightblue;
}


/* alignment trick for menu*/
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


