/*MD card container*/
.card-container {
    border: 2px solid #ccc;
    max-width: 40%;
    margin:auto;
    display: flex;
    flex-direction: column;
    /*justify-content:center;*/
    align-items: center;
    box-shadow: 0 5px 5px 0;

}

.card-container:hover {
    border: 2px solid #777;
}

.card-container img {
    border-radius: 5%;
    max-width: 50%;
    max-height: 200%;
}


.card-container .title {
  font-size: 2em;
}

.card-container .login-button {
  font-size: 2em;
  padding: 0.5em 3em 0.5em 3em;

}

.card-error {
  max-width: 279px;
  overflow-wrap: break-word;
}



@media only screen and (max-width: 700px){
    .card-container {
        min-width: 60%;
    }
}

@media only screen and (max-width: 500px){
    .card-container {
        min-width: 90%;
    }
}
