<div>
  <md-card  class="container">
    <md-card-header>
      <md-card-title class="title">{{welcome}}</md-card-title>
    </md-card-header>
    <img md-card-image class="img-round" src="assets/images/gift.png">
    <div>
    <form name="login-form">
      <md-input-container>
        <input (ngModel)="email" name="email" required mdInput placeholder="Email Account">
      </md-input-container>
      <br>
      <md-input-container>
        <input type="password" mdInput placeholder="Password" (ngModel)="password" name="password" required>
      </md-input-container>
    </form>
    </div>
    <md-card-actions>
      <button md-raised-button color="primary" class="login-button"  routerLink="/login-email" (onclick)="onSubmit()">Log in</button>
    </md-card-actions>
    <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
    <md-card-footer>
      <span class="error" *ngIf="error">{{ error }}</span>
    </md-card-footer>
    <a href="http://www.freepik.com/free-photos-vectors/christmas">
      <h6>Christmas vector created by Freepik</h6>
    </a>
  </md-card>
</div>


