/* Global Defaults */
 html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }


 /* Headlines */
 h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
 font-weight: normal;
 font-family: roboto, Helvetica, sans-serif;
 }

 /* Text Styles */
 p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
 margin: 0;
 padding: 0;
 font: normal normal normal 1em/1.25 Roboto, Helvetica, sans-serif;
 }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}

/*The following will disable placeholder as well*/
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}*/

@-webkit-keyframes autofill {
        to {
            color: #fff;
            background: transparent;
        }
}

@keyframes autofill {
        to {
            color: #fff;
            background: transparent;
        }
}



 blockquote {
 margin: 1.25em;
 padding: 1.25em
 }
 q {
 font-style: italic;
 }
 acronym, abbr {
 cursor: help;
 border-bottom: 1px dashed;
 }
 small {
 font-size:.85em;
 }
 big {
 font-size:1.2em;
 }

 /* Links and Images */
 a, a:link, a:visited, a:active, a:hover {
 text-decoration: underline;
 }
 img {
 border: none;
 }

 /* Tables */
 table {
 margin: 0;
 padding: 0;
 border: none;
 }

 /* Forms */
 form {
 margin: 0;
 padding: 0;
 display: inline;
 }
 label {
 cursor: pointer;
 }

 /* Common Classes */
 .clear { clear: both; }
 .floatLeft { float: left; }
 .floatRight { float: right; }
 .textLeft { text-align: left; }
 .textRight { text-align: right; }
 .textCenter { text-align: center; }
 .textJustify { text-align: justify; }
 .blockCenter { display: block; margin-left: auto; margin-right: auto; } /* remember to set width */
 .bold { font-weight: bold; }
 .italic { font-style: italic; }
 .underline { text-decoration: underline; }
 .noindent { margin-left: 0; padding-left: 0; }
 .nomargin { margin: 0; }
 .nopadding { padding: 0; }
 .nobullet { list-style: none; list-style-image: none; }

/*End of the Global Defaults reset*/

 /*global style*/
 body {
    background-color: lightslategrey;
    font: 1em/1.25 roboto, Helvetica, sans-serif;
 }

/*loading animation*/
.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}


.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* alignment trick for menu*/
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}






