<div>
  <div fxLayout="row" fxLayout.xs="column">
    <md-card class="user-card"  (click)="manageGifts('Hongyan')">
      <img md-card-image class="user-img" src="assets/images/girl.png"  >
    <div class="overlay">
      <div class="text">Manage my gifts</div>
    </div>
      <md-card-actions>
        <button (click)="manageGifts('Hongyan')" md-raised-button color="primary" class="full-width">Manage my gifts</button>
      </md-card-actions>
    </md-card>

    <md-card class="user-card" (click)="viewGifts('Feng')">
      <img md-card-image class="user-img" src="assets/images/boy.png"  (mouseover)="log()">
    <div class="overlay">
      <div class="text">View his gifts</div>
    </div>
      <md-card-actions>
        <button (click)="viewGifts('Feng')" md-raised-button color="primary" class="full-width">View his gifts</button>
      </md-card-actions>
    </md-card>
  </div>

  <div>
    <a href="http://www.freepik.com/free-photos-vectors/people">
      <h6>People vector created by Freepik</h6>
    </a>
  </div>

</div>

