<div class = "canvas-container">
  <div class="cards-container">
    <md-card class="card-container">
      <img md-card-image class="img-round" src="assets/images/girl.png">
      <md-card-actions>
        <button (click)="manageGifts(me)" md-raised-button color="primary" class="action-button">Manage my gifts</button>
      </md-card-actions>
    </md-card>

    <md-card class="card-container">
      <img md-card-image class="img-round" src="assets/images/boy.png">
      <md-card-actions>
        <button (click)="viewGifts(feng)" md-raised-button color="primary" class="action-button">View his gifts</button>
      </md-card-actions>
    </md-card>
  </div>

  <div>
    <a href="http://www.freepik.com/free-photos-vectors/people">
      <h6>People vector created by Freepik</h6>
    </a>
  </div>

</div>

